:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.body {
  width: 100%;
  height: 100vh;
  background: #a6a6a6;
}

.wrap {
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: #fff;
}

.common.header,
.common.footer,
.common.contents {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common.header {
  top: 0;
  height: 50px;
}
.common.footer {
  bottom: 0;
  height: 20px;
}

.common.contents {
  height: calc(100% - 50px);
  padding: 0 20px;
  top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
